/build
/build.msvc
/test/x64
/test/test1.obj
/test/test1.s
/test/run.bash
/test/run.cmd
/test/test.vcxproj
/test/test.vcxproj.filters
/test/test.vcxproj.user
/test/test1
/test/test1.bc
/test/test1.exe
/test/test1.o
/private/cecko-prs.output
/private/cecko-prs.hpp
/private/cecko-prs.cpp
/private/cecko-scn.cpp
/.vs
/out
/CMakeSettings.json
/.vscode
