body {
	font-family: Calibri;
	font-size: 18pt;
	margin: 0;
	padding: 20px;
}

h1 {
	text-align: center;
	font-size: 32pt;
}

p {
	text-align: center;
}

.center {
	text-align: center;
}

a.match {
	margin: 0;
	padding: 0;
	display: inline-block;
}

a.match:hover {
	background-image: url('pic/arrow.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

img.match {
	margin: 14px;
	margin-right: 16px;
	margin-bottom: 55px;
}

img.match.taken {
	-moz-filter:  grayscale(100%);
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
	opacity: 0.2;
}

button, input {
	font-size: 16pt;
}

table {
	margin: 10px auto;
}

table td {
	padding: 10px;
}